@font-face {
    font-family: 'norsebold';
    src: url('./fonts/norse-bold-webfont.woff2') format('woff2'),
         url('./fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

body, div, form, fieldset, input, p {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: rgb(245, 245, 245);
    height: 100vh;
    width: 100vw;
}

.left-side {
    width: 35vw;
    background-image: url("./images/background-large.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: max(200px, 35%);
    height: 100vh;
    position: relative;
}

#logo-container  {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: clamp(70px, calc(5vw + 5vh), 110px);
    font-family: 'norsebold', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
    height: max(20%, 100px);
    width: 100%;
    top: 25%;
    overflow: hidden
}

#logo-container > img {
    max-height: 75%;
    width: auto;
}

.right-side {
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(245, 245, 245);
    height: 100vh;
}

.right-side > .description > p, header {
    font-size: 1.5rem;
    margin: 0 0 2rem 3rem;
    width: clamp(45ch, 70%, 70ch);
    font-weight: bold;
}


form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    border: none;
}

.input-area {
    width: inherit;
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 1rem;
    box-shadow: 0 0 10px lightgray;
    padding: 1.5rem 0 2.5rem 0;
    margin: 0 0 2rem 0;
}

.input-area > fieldset, .input-area > p {
    display: flex;
    justify-content: flex-start;
    border: none;
    gap: 2rem;
    padding-left: 3rem;
}

.cell-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    gap: 5px;
    width: 45%;
    height: 70px
}

input {
    border: 2px solid rgb(145, 145, 145);
    border-radius: 5px;
    min-height: 1.5rem;
    padding: 3px;
}

input:focus {
    background-color: white;
    border: 2px solid rgb(0, 136, 255);
    outline: rgb(0, 136, 255);
    box-shadow: 5px 5px 7px rgb(80, 79, 79);
    transition: 0.5s;
}

input:user-invalid {
    background-color: #ffdddd;
    border: 2px solid rgb(177, 177, 177);
    transition: 0.5s;
}

input:user-valid {
    border: 2px solid rgb(177, 177, 177);
    background-color: #ddffdd;
    transition: 0.5s;
}

input[type="email"]:user-invalid + div::before {
    content: "@ is expected in email address";
    color: red;
    font-size: 15px;
    overflow: hidden;
}

input[type="tel"]:user-invalid + div::before {
    content: "Phone number must consist of 8 digits";
    color: red;
    font-size: 15px;
}

#user-password:user-invalid + div::before,
#confirm:user-invalid + div::before {
    content:"Must at least consist of 8 characters, at least one letter and one number";
    color: red;
    font-size: 15px;
}

.button-area {
    width: 100%;
}

button {
    height: 2.5rem;
    width: 10rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 3px 11px rgb(150, 150, 150);
    color: white;
    background-color: #596D48;
}

.button-area > div {
    padding-left: 3rem;
    margin: 0 0 1rem 0;
    
}

button:hover {
    filter: brightness(85%);
}

a {
    color: #596D48;
    font-weight: bold;
}

@media only screen and (max-width: 800px), (max-height: 600px) {
    .left-side {
        display: none;
    }

    .right-side {
        width: 100%;
    }

    /* .cell-wrapper {
        width: calc(45%)
    } */
}